@model IEnumerable<ToDo_Web_App.Models.Assignment>

@{
    ViewData["Title"] = "Assignments' Dashboard";
}

<h1>List of Assignments</h1>

@if(TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}

<form method="get" id="searching">
<div class="form-group">
        <label for="search">Search Assignments</label>
        
<input type="search" class="form-control" id="search" name="title" placeholder="Search">


    </div>
    </form>
    <form method="get" id="sorting">

    <div class="form-group">
        <label>Sort by:</label>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="SortByDateAsc" name="sortOrder" value="date_asc" @(ViewBag.CurrentSort == "date_asc" ? "checked" : "") />
            <label class="form-check-label" for="SortByDateAsc">Date Ascending</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="SortByDateDesc" name="sortOrder" value="date_desc" @(ViewBag.CurrentSort == "date_desc" ? "checked" : "") />
            <label class="form-check-label" for="SortByDateDesc">Date Descending</label>
        </div>

        <div class="form-check">
            <input type="radio" class="form-check-input" id="SortByTypeAsc" name="sortOrder" value="type_asc" @(ViewBag.CurrentSort == "type_asc" ? "checked" : "") />
            <label class="form-check-label" for="SortByTypeAsc">Type Ascending</label>
            </div>
<div class="form-check">
        <input type="radio" class="form-check-input" id="SortByTypeDesc" name="sortOrder" value="type_desc" @(ViewBag.CurrentSort == "type_desc" ? "checked" : "") />
            <label class="form-check-label" for="SortByTypeDesc">Type Descending</label>
            </div>
<div class="form-check">

    <input type = "radio" class="form-check-input" id="SortByNameAsc" name="sortOrder" value="name_asc" @(ViewBag.CurrentSort == "name_asc" ? "checked" : "")/>
            <label class="form-check-label" for="SortByTypeDesc">Title Ascending</label>

    </div>

<div class="form-check">
            <input type="radio" class="form-check-input" id="SortByNameDesc" name="sortOrder" value="name_desc" @(ViewBag.CurrentSort == "name_desc" ? "checked" : "") />
            <label class="form-check-label" for="SortByNameDesc">Title Descending</label>

    </div>

        </div>
        <br />




    


</form>

<br />

<form method="get" id="filtering">
   

    <label for="cat">Filter by Category:</label>
    <select name="category" id="cat">

        
<option value="">All Categories</option>
        @foreach(var category in ViewBag.Categories)
        {
            <option value="@category">@category</option>
        })
        </select>

        <br/>
<input type="submit" class="btn btn-primary" value="Apply"></input>
</form>


<br />
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Due Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var filtering = document.getElementById("sorting");
        var select = document.getElementById("cat");


        if(filtering && select) {
            select.addEventListener('change', function() {
                filtering.submit();
            })
        }

    })
    document.addEventListener("DOMContentLoaded", function () {
        var sorting = document.getElementById("sorting");
        
        if(sorting) {
            var sortingType = document.querySelectorAll("input[type=radio]");


            sortingType.forEach(sortType => {
                sortType.addEventListener('change',function() {
                    sorting.submit();
                })
            })
        }

    })

</script>
